
.searchBox-container{
    background-color: #545776;
    padding-block: 10px;
    padding-inline: 4rem;
}

.searchBox-title {
    text-align: center;
    color: var(--white-color);
}

.location-input {
    background: white;
    border-radius: 5px;
    width: 100%;
}
.date-input {
    background: white;
    border-radius: 5px;
    width: 100%;
}
.searchBox-btn {
    background-color: var(--DB-COLOR-PRINCIPAL);
    color: var(--white-color);
    font-weight: 700;
    border: transparent;
    width: 50%;
    min-height: 32px;
    border-radius: 4px;
    cursor: pointer;
}

.searchBox-form {
    display: flex;
    gap: 10px
}


@media only screen and (max-width: 600px) {
    
.searchBox-container{

    padding-inline: 1rem;
}
    .searchBox-form {
        display: flex;
    }
}

